@use 'colors' as *;

.container {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  button {
    background: $primary-red;
    border-radius: 6px;
    border: 2px solid $primary-red;
    box-shadow: 0.5px 0.5px 4px $dark;
    color: $light;
    font-family: 'Montserrat';
    font-weight: 600;
    outline: none;
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: 0.2s;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 1rem;
  // position: fixed;
  background: $light;
  opacity: 0.95;
  font-size: 2rem;
}
