@use './colors.scss' as *;

.container {
  max-width: 960px;
  margin: 0 auto;
}

.nav {
  margin: 20px auto 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  letter-spacing: -1px;

  text-transform: uppercase;
  @media screen and (max-width: 940px) {
    flex-direction: column;
  }

  h1 {
    margin-left: 10px;
  }

  .logo {
    max-width: 400px;
    width: 100%;
    height: auto;
  }

  a:hover {
    border: none;
  }
}

.menu {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;

  li {
    display: inline-block;
    margin: 8px 8px 8px 16px;
  }
}
