@use 'colors' as *;

.player {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  .albumSelector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 2px solid $light;
    box-shadow: none;
    width: 100%;
    h3 {
      background: $primary-red;
      border-radius: 6px;
      border: 2px solid $primary-red;
      color: $light;
      font-family: 'Montserrat';
      font-weight: 600;
      outline: none;
      font-size: 1rem;
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .albumSelector {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
      width: 100%;
    }
  }
}

.player_grid {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(auto-fit, 400px) auto;
  grid-template-rows: auto 40px auto auto;
  grid-template-areas:
    'header header'
    'audio audio'
    'art tracks'
    'art tracks';
  padding: 2rem auto;
  .header {
    align-items: center;
    background: $dark;
    border-radius: 6px;
    box-shadow: inset -5px 5px 20px 0 black;
    color: $light;
    display: flex;
    font-size: 1.5rem;
    gap: 5px;
    grid-area: header;
    height: 60px;
    justify-content: center;
    line-height: initial;
    margin: 0;
    overflow-x: hidden;
    padding: 0 10px;
    white-space: nowrap;
    width: 700px;
    .inner__header {
      -moz-animation: marquee 29s linear infinite;
      -webkit-animation: marquee 29s linear infinite;
      animation: marquee 29s linear infinite;
      animation-delay: 5s;
    }
    span {
      color: $primary-red;
      text-overflow: clip;
    }
  }
  .audio {
    border-radius: 6px;
    display: block;
    grid-area: audio;
    margin: 0;
    object-fit: contain;
    padding: 0;
    width: 100%;
  }
  .art {
    border-radius: 10px;
    grid-area: art;
    justify-content: center;
    max-width: 400px;
    text-align: center;
    img {
      border-radius: 10px;
      border: 1px solid $dark;
      display: block;
      height: auto;
      object-fit: contain;
      width: 100%;
    }
    .art_caption {
      align-items: center;
      display: flex;
      font-size: 1rem;
      font-weight: 600;
      justify-content: center;
      padding: 0.5rem;
      text-transform: uppercase;
      a {
        color: inherit;
        &:hover {
          border-bottom: none;
        }
      }
    }
  }
  .tracks {
    align-items: flex-start;
    align-self: stretch;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    grid-area: tracks;
    grid-row: 3/5;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    max-width: 250px;
    padding: 0;
    text-align: left;
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: auto;
    grid-template-rows: auto 40px auto auto;
    grid-template-areas:
      'header'
      'audio'
      'art'
      'tracks';
    overflow: scroll;
    .header {
      justify-content: flex-start;
      width: 100%;
      .inner__header {
        -moz-animation: marquee 22s linear infinite;
        -webkit-animation: marquee 22s linear infinite;
        animation: marquee 22s linear infinite;
      }
    }
    .art {
      max-width: 100%;
    }
    .tracks {
      grid-row: 4/5;
    }
  }
  @media screen and (max-width: 400px) {
    .header {
      font-size: 1rem;
    }
    .tracks {
      li {
        padding: 0 5px;
      }
    }
  }
}

@-moz-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-90%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-90%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-90%);
    -webkit-transform: translateX(-90%);
    transform: translateX(-90%);
  }
}
