@use 'colors' as *;

.MusicPlayer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border-radius: 6px;
  border: 1px solid $dark;
  padding: 1rem;
  margin: 0 auto;
  &__albumTitle {
    text-transform: uppercase;
    letter-spacing: -2px;
  }
}

.player {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  text-align: left;
  max-width: 800px;
  width: 100%;
  // background: $dark;
  color: $primary-red;
  font-weight: 400;
  letter-spacing: -4px;
  font-size: 1.8rem;
  text-transform: uppercase;
  // padding: 1rem;
  & .trackInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    h3 {
      margin: 0;
      padding: 0;
      font-size: inherit;
    }
    h4 {
      display: flex;
      justify-content: space-between;
      font-size: inherit;
      margin: 0;
      padding: 0;
      color: $dark;
      letter-spacing: -1px;
      font-weight: lighter;
      font-size: 1rem;
      width: 100%;
      .year {
        font-weight: 900;
      }
    }
  }
  & audio {
    display: flex;
    width: 100%;
  }
}
