@use 'colors.scss' as *;
@use 'utils.scss' as *;

.music {
  max-width: $max-page-width;
  margin: 40px auto;
  letter-spacing: 1px;
  line-height: 1.6em;
  h1 {
    line-height: initial;
  }
  h2 {
    display: block;
    margin: 30px auto;
    text-align: center;
    font-size: 2rem;
  }
}
