@use './colors.scss' as *;
@use './utils.scss' as *;

.music {
  max-width: 800px;
  margin: 40px auto;
  letter-spacing: 1px;
  line-height: 1.6em;
  h1 {
    line-height: initial;
  }
  h2 {
    display: block;
    margin: 30px auto;
    text-align: center;
    font-size: 2rem;
  }
  .player {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    audio {
      width: 100%;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  margin: 50px auto;
  @media screen and (max-width: 940px) {
    grid-template-columns: auto;
  }
}

.album {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  &__cover {
    border-radius: 6px;
    max-width: 400px;
    width: 100%;
    height: auto;
    // transition: 0.3s;
    // &:hover {
    //   box-shadow: $shadow-8;
    //   transform: translate(-4px, -4px);
    // }
  }
  &__title {
    font-size: 2.5rem;
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -2px;
  }
  p {
    margin: 0;
    padding: 0;
  }
  &__tracks {
    list-style-position: inside;
    margin: 0;
    padding: 1rem;
  }
}
