@use 'utils' as *;

.page {
  letter-spacing: 1px;
  line-height: 1.6em;
  margin: 40px auto;
  max-width: $max-page-width;
  h1 {
    line-height: initial;
  }
  h2 {
    display: block;
    font-size: 2rem;
    margin: 30px auto;
    text-align: center;
  }
}

.storeGrid {
  align-items: flex-start;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
